


.container_propio{

    border-radius: 8px;
    background-color: rgb(34, 204, 181);
  
    


}
.buton_agreg{


    display: block;
    margin: 0 auto;
    

   


   
}


.head{

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
}