


.container_propio{

    border-radius: 30px;
    background-color: #636869;
    
  
    
    
}
.buton_agreg{

    display: block;
    margin: 0 auto;
    margin-bottom: 30px;

   
}


.cabecera{

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
}