.product {
    display: block;
    justify-content: center;
    text-align: center;
}
.col-md-3{
    background-color: rgb(40, 143, 238);
    margin:10px;
    border-radius: 15px;
    border-color: white;
    box-shadow: 5px 5px rgb(107, 175, 240);
}
#titulo{
    text-align: center;
    color:rgb(40, 143, 238);
    text-shadow: 2px 2px white;
}
header{
    background-color: rgba(38, 0, 255, 0.484);
    height: 55px;
}
body{
    margin-bottom: 20px;
    background-image: url("background.png");
    background-size: 105%;
}
.row{
    justify-content: center;
}
button{
    margin: 10px;
    background-color: rgba(38, 0, 255, 0.755);
    color: whitesmoke;
}
img{
    margin-top: 10px;
}
.nombre_producto{
    font-weight: bold;
    font-size: large;
}
.precio{
    margin-top: -20px;
    font-size:medium;
    font-style: italic;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.botones{
    display: flex;
    justify-content: center;
}