.product {
    text-align: center;
}
.col-md-3{
    background-color: rgb(40, 143, 238);
    margin:10px;  
}
#titulo{
    text-align: center;
    color:rgb(40, 143, 238);
    text-shadow: 2px 2px white;
}
header{
    background-color: rgba(38, 0, 255, 0.484);
    height: 55px;
}
body{
    margin-bottom: 20px;
    background-image: url("background.png");
    background-size: 105%;
}
.row{
    justify-content: center;
}
button{
    display: block;
    padding: 0.5rem 1rem;
    width: 150px;
    margin: 0 auto;
    background-color: rgba(38, 0, 255, 0.755);
    color: whitesmoke;
}
img{
    margin:5px;
}
.nombre_producto{
    font-weight: bold;
    font-size: large;
}
.precio{
    font-size:medium;
    font-style: italic;
}
a{
    text-decoration: none;
}