.radiox{

    padding: 8px 70px 20px;
    
}

.container_propio{

    border-radius: 30px;
    background-color: #a5bcd8;
    
  
    
    
}


.input_propio{
   
}

.textillo{

    
  color: #181717;
  font-size: 15px;
  font-weight: 700;
  
}


.checkboxx{

    padding: 0px 80px 20px;
    

}


.yepa{

    border-radius: 5px;
    border: none;
}

.cabecera{

    
    font-weight: sans-serif;
    color: #0ea8a8;
    margin-bottom: 50px;
}

.buton_agreg{

    margin-bottom: 40px;
    background-color: rgb(29, 145, 14);
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 45px 12px ;
    border-radius: 12px;
    

   
}

.buton_agreg:hover{

    opacity: 0.8;
    transition: 0.4s;
    padding: 14px 48px 14px;

    
}
.buton_agreg:active{

    opacity: 0.5;
    background-color: rgb(26, 202, 108);
    
    
    
}
.boton_cancelar{

    margin-left: 40px;
    margin-bottom: 40px;
    margin-bottom: 40px;
    background-color: rgb(202, 26, 26);
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 45px 12px;
    border-radius: 12px;

}

.boton_cancelar:hover{

    
    opacity: 0.8;
    transition: 0.2s;
    padding: 14px 48px 14px;
   
    
}

.boton_cancelar:active{

    background-color: rgb(158, 57, 71);
    opacity: 0.5;
    
    
}

.container_botones{
text-align: center;

}

