.radio-form{

    padding: 0px 50px 10px;    
}


.body{

    background-color: white;
}


.container_form{

    border-radius: 30px;
    background-color: rgb(46, 255, 189);
    margin-bottom: 200px;
    margin-top: 80px;
   
    
}

#buscador{

    border-radius: 12px;
    border: none;
    margin-right: 15px;

}



.texto{

    
  color: #181717;
  font-size: 15px;
  font-weight: 700;
  
}

.separacion-form-imagen{

    padding: 10px 50px 80px;
}

.checkboxx{

    padding: 0px 80px 20px;
    

}


.form-control-file{

    border-radius: 20px;
    border: none;
    margin-left: 12px;
    margin-bottom: 10px;
    
}
    

.buton_agreg{

    margin-bottom: 40px;
    background-color: rgb(29, 145, 14);
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 45px 12px ;
    border-radius: 12px;
    
   
}

.buton_agreg:hover{

    opacity: 0.8;
    transition: 0.4s;
    padding: 14px 48px 14px;

    
}
.buton_agreg:active{

    opacity: 0.5;
    background-color: rgb(26, 202, 108);
    
    
    
}


.row-g3{

    padding: 10px 10px 10px;
}
.boton_cancelar{

    margin-left: 40px;
    margin-bottom: 40px;
    background-color: rgb(202, 26, 26);
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 45px 12px;
    border-radius: 12px;

}

.boton_cancelar:hover{

    
    opacity: 0.8;
    transition: 0.4s;
    padding: 14px 48px 14px;
   
    
}

.boton_cancelar:active{

    background-color: rgb(158, 57, 71);
    opacity: 0.5;
    
    
}

.container_botones{

text-align: center;

}



