.card {
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

h1 {
    text-align: center;
    margin: auto;
}

#idComentario {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 40px;
    margin-bottom: 15px;
}

#imagenPerfilComentario {
    height: 40px;
}

#estado {
    margin-top: 5%;
    color: rgb(149, 145, 145);
}

body {

    background-color: #eae7e7;
}

.col-lg-6 {
    background-color: rgb(255, 255, 255);
}

.col-md-8 {
    background-color: rgb(255, 255, 255);
    padding-top: 1%;
    padding-bottom: 1%;
}

.col-md-4 {
    background-color: rgb(255, 255, 255);
}

#Titulo {
    background-color: aqua;
    text-align: center;
    align-items: center;
    color: rgb(40, 143, 238);
    text-shadow: 2px 2px white;

}

.img-product {
    width: 100%;
    height: 100%;


}

.nombre-producto {
    margin-top: 5px;
    text-align: left;
}

.navegacion {
    text-align: left !important;
    margin-left: auto;
    justify-content: left !important;
}

.row {
    padding-top: 1%;
}

/*Marca el tamaño de carrusel de las imagenes*/
.bd-example {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;


}

/*boton de comprar*/
#cesta {
    width: 330px;
}

#buscador {
    width: 500px;
    ;
}

#barracentro {
    text-align: left;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;

}

.nav-icon {
    width: 330px;
}

.buttonColor {

    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    color: rgb(11, 11, 11);
    padding: 15px 32px;

    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    align-items: center;
    text-align: left;


}

.buttonColor:hover {
    background-color: lightgray;
    /* Cambia el color a verde cuando el mouse está sobre el botón */
}

#BotonEditaryBorrar {
    text-align: center;
    padding-top: 18px;
    padding-left: 20px;
    justify-content: space-between;

}

#logoNav {
    width: 150px;
    height: 70px;
}
#nombrePerfilComentario{
    margin-bottom: 0;
}

#FilaPerfilComentario{
    padding-bottom: 10px;
}
#grayText{
    color:rgb(149, 145, 145);
}
#infoSellerCard{
    width: 94%;
    height: 70%;
    margin-left: 3%;
    margin-top: 5%;
}

