.product {
    display: block;
    justify-content: center;
    text-align: center;
    
}
.col-md-3{
    background-color: rgb(40, 143, 238);
    margin:10px;
    border-radius: 15px;
    border-color: white;
    box-shadow: 5px 5px rgb(107, 175, 240);
}
.col-md-3:hover{
    width: 27%;
    background-color:rgb(40, 63, 238);
    box-shadow: 5px 5px rgb(107, 131, 240);
    animation-name: rotacion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes rotacion {
    0%{
        width:25%;
    }
    100%{
        width: 27%;
    }
}
#titulo{
    text-align: center;
    text-shadow: 2px 2px white;
    opacity: 0;
    animation: entradaTitulo 2s ease-in-out forwards;
    animation-delay: 0.5s;
} 
@keyframes entradaTitulo {
    0% {
      opacity: 0;
      transform: translatex(-100px); /* Puedes ajustar la posición de entrada */
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
header a{
    animation-name:cambiocolor;
    animation-duration: 7.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes cambiocolor {
    0%{
        color:rgb(40, 47, 238);
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        color:rgb(0, 179, 255);
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        color:rgb(40, 47, 238);;
        opacity: 1;
    }
}
header{
    display: flex;
    justify-content: center;
    background-color: rgba(38, 0, 255, 0.484);
    height: 55px;
}
body{
    margin-bottom: 20px;
    background-image: url("background.png");
    background-size: 105%;
}
.row{
    justify-content: center;
}
.boton{
    margin: 10px;
    background-color: rgba(38, 0, 255, 0.755);
    color: whitesmoke;
}
.botones{
    display: flex;
    justify-content: center;
}
img{
    margin-top: 10px;
}
.nombre_producto{
    font-weight: bold;
    font-size: large;
}
.precio{
    margin-top: -20px;
    font-size:medium;
    font-style: italic;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.desplegable{
    color:rgb(40, 143, 238);
    background-color: transparent;
    border:none;
    opacity: 0;
    animation: entradadesplegable 2s ease-in-out forwards;
    animation-delay: 0.5s;
} 
@keyframes entradadesplegable {
    0% {
      opacity: 0;
      transform: translateY(-20px); /* Puedes ajustar la posición de entrada */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.dropdown-menu{
    background-color:rgb(24, 114, 199);
}
.dropdown-item{
    border-color: black;
    color:whitesmoke
}

