<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/paginaDetalle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="./Index.js"></script>
</head>
<body>
    <!--navbar top-->
    <nav class="navbar navbar-expand-md navbar-dark bg-black" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img id="logoNav" src="../public/images/MytemsLogo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion"
                aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navegacion">
                <ul id="barracentro" class="navbar-nav mx-auto mt-2 mt-lg-0 navegacion ">
                    <!--searchbar-->
                    <form class="d-flex" role="search">
                        <input class="form-control" id="buscador" type="search" placeholder="¿Que tienes en mente...?"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <!--searchbar end-->
                    <li class="nav-item">
                        <a style="font-size: 20px;" class="nav-link" href="#"><i class="bi bi-person nav-icon"></i></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 20px;" class="nav-link" href="#"><i ; class="bi bi-bag"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--navbar end-->
    {{#producto}}
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 ">
                <div>
                    <!--Inicio del carrucel de imagenes-->
                    <div>
                        
                        <div class="bd-example">
                            <div id="carrusel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active"
                                        aria-label="Slide 1" aria-current="true"></button>
                                    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="1"
                                        aria-label="Slide 2" class=""></button>
                                    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="2"
                                        aria-label="Slide 3" class=""></button>
                                </div>
                                
                                <!--Contenido delcarrusel-->
                                
                                <div class="carousel-inner active">
                                    
                                    <div class="carousel-item active">
                                        <img class="img-product"
                                            src="{{imagenprincipal}}"
                                            alt="Descripción de la imagen">
                                    </div>
                                    {{#imagenes}}
                                    <div class="carousel-item">
                                        <img class="img-product"
                                            src="{{imagen}}"
                                            alt="Descripción de la imagen">
                                    </div>
                                    {{/imagenes}}
                                    {{^imagenes}}
                                    {{/imagenes}}
                                </div>
                                
                                <!--Fin de contenido del carrusel-->
                                <!--botones del carrusel-->
                                <button class="carousel-control-prev" type="button" data-bs-target="#carrusel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carrusel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </Div>
                </Div>
            </div>
            <div class="col-lg-6">
                <div class="container">
                    <h6 id="estado">{{estado}}</h6>
                    <h2 class="nombre-producto">{{nombre}}</h3>
                        <p>"Valoraciones del producto"<a href="#opiniones"><u>(opiniones)</u></a></p>
                        <p id="categoria"> {{categoria}}</p>
                        <h5>{{precio}}€</h5>
                        <!--añadir cesta y like-->
                        <div class="conteiner">
                            <div class="row">
                                <div class="col-md-auto">
                                    <button data-product-id="{{id}}" id="cesta" type="button submit" class="btn btn-primary btn-lg btn-block" onclick="agregarAlCarrito('{{id}}')">Comprar</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-primary btn-lg btn-block"><i
                                            class="bi bi-bag-heart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr /><!--barra espaciadora-->
                        <div>
                            
                            <div class="row">
                                <div class="col-md-auto">
                                    <img id="imagenPerfilComentario" src="../images/Garantia.png" alt="">
                                </div>
                                <div class="col">
                                    <p id="nombrePerfilComentario"><strong>Garantia 24 meses</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-auto">
                                    <img id="imagenPerfilComentario" src="../images/BestSeller.png" alt="">
                                </div>
                                <div class="col">
                                    <p id="nombrePerfilComentario"><strong>Vendedor Certificado</strong></p>
                                </div>
                            </div>
                        </div>
                        <hr /><!--barra espaciadora-->
                        <h5>Acerca de </h5>
                        <!--Accordion-->
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <!--item3-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        Detalles del producto
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <strong>Ficha tecnica.</strong> 
                                        <ul>
                                            <li>{{descripcion}}</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--item3-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        Servicios incluidos
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <strong>¿Que incluye el producto?</strong> <ul>
                                            <li>{{servicios}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----------------------fin del accordion------------------->
                </div>
                <div id="BotonEditaryBorrar">
                    <form action="/paginaDetalle/edit/{{id}}" method="post">
                        <button type="button submit" class="btn btn-success buttonManejo">Editar</button>
                    </form>
                    <form  method="post" action="/{{id}}">
                        <button type="button submit" class="btn btn-danger buttonManejo">Borrar</button>
                    </form>
                    <a href="/index" >
                        <button type="button" class="btn btn-primary buttonManejo">ver todos los elementos</button>
                    </a>
                </div>
            </div>
            <!--Caja de comentarios -->
            <div class="row">
                <div class="col-md-8">

                    <h4 id="opiniones">Comentarios y preguntas.</h4>
                    <div>
                        <form action = "/new/comentario/{{id}}" method = "post">
                            <div class="mb-3">
                                <p>Como te sientes respecto al producto</p>
                                <label class="texto" for="Usuario">Nombre del usuario:</label>
                                <input class="form-control" placeholder="Usuario" type="text" name="usuario">
                                <label for="exampleFormControlTextarea1" class="form-label">Añade una reseña del producto</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="¿Que te ha gustado del producto?¿Recomendarias a este vendedor?..." name="texto"></textarea>
                            </div>
                            <button type="button submit" class="btn btn-primary btn-lg btn-block" >Enviar</button>
                        </form>
                    </div>
                    <hr /><!--barra espaciadora-->
                    {{#comentarios}}
                    <div><!--caja ejemplo de 1 comentario-->
                        <div id="FilaPerfilComentario" class="row">
                            <div class="col-md-auto idComentario">
                                <img id="imagenPerfilComentario" src="../images/imagenPrefilComentario.png" alt="">
                            </div>
                            <div class="col">
                                <p id="nombrePerfilComentario"><strong>{{usuario}}</strong></p>
                                <p id="grayText"> {{fecha.dia}}/{{fecha.mes}}/{{fecha.anyo}}</p>
                            </div>
                            <!--estrellitas de valoracion-->
                            <div class="col-md-auto">
                            </div>
                        </div>
                        <div>
                            <p><strong>Acerca de {{nombre}} </strong> 
                                {{texto}}</p>
                        </div>
                        
                    </div><!--Fin de caja ejemplo de 1 comentario-->
                    {{/comentarios}}
                    {{^comentarios}}
                    <p>No hay comentarios sobre este producto</p>
                    {{/comentarios}}
                </div>
                <!--Informacion del vendedor-->
                <div class="col-md-4">
                    <div id="infoSellerCard" class="card">
                        <div class="card-body">
                            <h5>Informacion del vendedor</h5>
                            <div class="row">
                                <div class="col-md-auto">
                                    <img id="imagenPerfilComentario" src="../images/imagenPrefilComentario.png" alt="">
                                </div>
                                <div class="col">
                                    <p id="nombrePerfilComentario"><strong>{{vendedor}}</strong></p>
                                </div>
                            </div>
                            <!--metodos de pago-->
                            <div class="flex justify-between flex-1 pt-4 border-t border-grey-300">
                                <p class="body-2-light">
                                    Métodos de pago aceptados
                                </p>
                                <div class="flex items-center flex-wrap justify-start ml-2">
                                        <img class="CardImage" 
                                        src="https://d1eh9yux7w8iql.cloudfront.net/front/public/statics/pastrami/24f51cd1b4e79a42c879f8ea967ba09a88573b88/img/payment/networks-v3/visa.svg"
                                        >
                                        <img class="CardImage" 
                                        
                                        src="https://d1eh9yux7w8iql.cloudfront.net/front/public/statics/pastrami/24f51cd1b4e79a42c879f8ea967ba09a88573b88/img/payment/networks-v3/mastercard.svg"
                                       >
                                        <img class="CardImage" 
                                       
                                        src="https://d1eh9yux7w8iql.cloudfront.net/front/public/statics/pastrami/24f51cd1b4e79a42c879f8ea967ba09a88573b88/img/payment/networks-v3/amex.svg"
                                        >
                                        <img class="CardImage" 
                                        src="https://d1eh9yux7w8iql.cloudfront.net/front/public/statics/pastrami/24f51cd1b4e79a42c879f8ea967ba09a88573b88/img/payment/networks-v3/oney.svg"
                                        >
                                        <img class="CardImage" 
                                        src="https://d1eh9yux7w8iql.cloudfront.net/front/public/statics/pastrami/24f51cd1b4e79a42c879f8ea967ba09a88573b88/img/payment/methods-v3/paypal.svg"
                                        >
                                        <img class="CardImage" 
                                        src="https://d1eh9yux7w8iql.cloudfront.net/front/public/statics/pastrami/24f51cd1b4e79a42c879f8ea967ba09a88573b88/img/payment/methods-v3/apple_pay.svg"
                                        >
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/producto}}
</body>
</html>