{{#producto}}
<div class="col-md-3 col-sm-8 col-lg-3 product">
    <a href="paginaDetalle/{{id}}"><img class="img-fluid imagen_producto" alt="" src="{{imagenprincipal}}"/></a>
    <p class="nombre_producto">{{nombre}}</p>
    <p class="precio">{{precio}}€</p>
</div>
{{/producto}}
{{^producto}}
    <p class="mensaje_error">Lamentamos informarle que no disponemos del tipo de productos que anda buscando.</p>
{{/producto}}
{{#botonMas}}
<button type="button" class="boton btn btn-primary btn-md" onclick="loadMoreProductosAjax()">CARGAR MÁS</button>
{{/botonMas}}