/* css del body */
body{
    margin-bottom: 20px;
    background-color:white;
    background-size: 105%;
}
/*estilo de cada celda con producto*/

.img-fluid{

    padding: 0px 0px 20px;
}
.product {
    display: block;
    justify-content: center;
    text-align: center; 
}
.filtro{
    margin-top:20px;
    min-width: fit-content;
    background-color: #0fffe9;
    margin:0.5%;
    border-radius: 15px;
    border-color: white;
    box-shadow: 5px 5px #000000;
}
.mensaje_error{
    margin-top:100px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.col-md-3{
    background-color: #0fffe9;
    margin:1.5%;
    border-radius: 15px;
    border-color: white;
    box-shadow: 5px 5px #000000;
}
/*animacion de los productos*/
.col-md-3:hover{
    background-color:#0dd6c5;
    box-shadow: 5px 5px #000000;
    opacity: 0.7;
}
.imagen_producto{
    margin-top: 10px;
    height: 70%;
}
.nombre_producto{
    font-weight: bold;
    font-size: large;
}
.precio{
    margin-top: -20px;
    font-size:medium;
    font-style: italic;
    text-decoration: underline;
}
/*alineacion de filas*/
.row{
    justify-content: center;
}
/*botones del final de la p치gina*/
.boton{
    margin: 10px;
    background-color: #0fffe9;
    color: #000000;
    max-width: 200px;
}
.boton:hover{
    background-color:#03beaf;
    color:#aefb41;
}
.botones{
    display: flex;
    justify-content: center;
}
/* cualquier hipervinculo ya sea boton o texto*/
a{
    text-decoration: none;
}
/* css del header */
/* barra superior */
#barracentro {
    text-align: left;
}
.navegacion {
    text-align: left !important;
    margin-left: auto;
    justify-content: left !important;
}
.nav-item {
    margin-right:10px;
    margin-left:10px;
}
.nav-icon {
    width: 330px;
}
.buttonColor {
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    color: rgb(11, 11, 11);
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    align-items: center;
    text-align: left;
}
.buttonColor:hover {
    background-color: lightgray;
}
#buscador{
    width: 500px;
    border-radius: 12px;
    border: none;
    margin-right: 15px;
}
#logoNav {
    width: auto;
    height: 70px;
    margin-left: 20px;
}
/* flecha desplegable con menu*/
.dropdown-menu{
    background-color:#0fffe9;
}
.dropdown-item{
    border-color:#c6ff76;
    color:black;
}
.desplegable{
    background-color: transparent;
    color:#0fffe9;
    border:none;
} 

.cart-container {
    position: absolute;
    top: 0;
    right: -30%; /* Inicialmente oculto, se mostrar치 cuando se haga clic en el bot칩n */
    width: 30%;
    height: 70vh;
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: right 0.3s ease; /* Agrega una transici칩n suave al mostrar/ocultar */
  }
  .cart-container p {
    padding: 20px;
    margin: 0;
  }
  
  /* Agrega un estilo al contenedor cuando se muestra */
  .cart-container.active {
    right: 0;
  }